@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./Assets/background-full/4.png");
  height: 100vh;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background-image: url("./Assets/background-full/4@2x.png");
  }
}

.page-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 21.61%, rgba(33, 38, 51, 0.95) 64.3%);
  height: 100vh;
}

.header .container {
  padding: 44px 20px 0;
  display: flex;
  justify-content: space-between;
}

.link-button {
  font-size: 13px;
  display: flex;
  align-items: center;
  letter-spacing: -0.216667px;
  color: rgba(255, 255, 255, 0.6);
}

.main .container {
  padding: 160px 0 0;
}

.title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 29px;
}

.information__list {
  margin: 0 auto;
  width: fit-content;
  list-style: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.321111px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 44px;
}

.information__list li:first-child::before {
  content: url(./Assets/unlimitedDocs.svg);
  padding-right: 8px;
}

.information__list li:nth-child(2n)::before {
  content: url(./Assets/export.svg);
  padding-right: 8px;
}

.information__list li:last-child::before {
  content: url(./Assets/noAds.svg);
  padding-right: 8px;
}

.close-button {
  outline: none;
  border: none;
  background-color: transparent;
  height: 24px;
}

.restore-section {
  display: flex;
  justify-content: center;
  display: block;
  height: 24px;
}

#monthly {
  margin-left: 40px;
}

.close-link {
  height: 100%;
  width: 100%;
}

.restore-link {
  font: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  letter-spacing: -0.216667px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.continue {
  margin: 16px 0 0;
}

.continue-a {
  text-decoration: none;
}

.continue-button {
  height: 54px;
  width: 280px;
  border-radius: 30px;
  background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
  color:  #FFFFFF;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 16px;
}

.continue-warning {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer {
  bottom: 0;
  width: 100%;
}

.footer .container {
  padding: 16px 24px 38px;
  display: flex;
  justify-content: space-between;
  height: 24px;
}

.footer__link a {
  font-family: 'Roboto', sans-serif;
  color: #BDC0D0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  text-decoration-line: underline;
}

.selection-block {
  height: 178px;
  display: flex;
  gap: 15px;
}

.active {
  /* background-image: url("./Assets/shape-1.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 178px;
  width: 144px;
}

#annually, #monthly {
  position: relative;
}

#monthly {
  background-image: url("./Assets/shape-1.svg");
}

#monthly:not(.active) {
  background-image: url("./Assets/shape-transparency.svg");
}

#annually {
  background-image: url("./Assets/shape-2.svg");
}

#annually:not(.active),
#monthly:not(.active) {
  /* background-image: url("./Assets/shape-transparency.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 162px;
  width: 131px;
  margin-top: 4px;
  opacity: 0.25;
  color: #FFFFFF;
  padding-top: 23px;
  text-align: center;
}

#annually:not(.active),
#monthly:not(.active) {
  padding-top: 18px;
}

.active-sale {
  background-image: url("./Assets/shape-2.svg");
  height: 178px;
  width: 144px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.circle-sale {
  background-color: #DB0000;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -2px;
  display: flex;
  align-items: center;
}

.circle-sale span {
  font-family: 'SFProDisplay';
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-left: 2px;
}

.warning-line {
  background-color: #495795;
  height: 22px;
  width: 104%;
  position: absolute;
  left: -2.5%;
  bottom: 40px;
  text-transform: uppercase;
}

.warning-line h3 {
  font-size: 15.4px;
  line-height: 18px;
  text-align: center;
}

.active, .active-sale {
  padding: 25px 0 14px;
  text-align: center;
  color: #FFFFFF;
}

html[lang^="fr"] .active, .active-sale {
  padding: 36px 0 14px;
}

html[lang^="fr"] #annually:not(.active),
html[lang^="fr"] #monthly:not(.active) {
  padding: 34px 0 14px;
}

html[lang^="fr"] #annually:not(.active) .sale-regularity,
html[lang^="fr"] #monthly:not(.active) .sale-regularity {
  margin-top: 6px;
}

.active strong {
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 21px;
}

.active .sale-regularity {
  margin-top: 18px;
}

html[lang^="fr"] .active .sale-regularity {
  margin-top: 12px;
}

html[lang^="fr"] .active .sale-regularity {
  margin-top: 12px;
}

#annually:not(.active) .sale-regularity,
#monthly:not(.active) .sale-regularity {
  margin-top: 18px;
}

.active .sale-regularity {
  line-height: 14px;
}

.active h2, .active-sale h2 {
  font-size: 24px;
  line-height: 15px;
  margin-bottom: 6px;
}

.active p, .active-sale p {
  font-size: 13px;
  line-height: 15px;
}

.sale-regularity {
  margin-bottom: 10px;
}

.sale-price {
  position: absolute;
  bottom: 14px;
  width: 100%;
  text-align: center;
}

.select-monthly {
  position: relative;
}

#annually:not(.active) .warning-line,
#monthly:not(.active) .warning-line {
  bottom: 37px;
}

html[lang^="nl"] #annually:not(.active) .warning-line h3,
html[lang^="nl"] #monthly:not(.active) .warning-line h3 {
  font-size: 10px;
}

html[lang^="nl"] #annually:not(.active) .warning-line h3,
html[lang^="nl"] #monthly:not(.active) .warning-line h3 {
  font-size: 12px;
}

#annually:not(.active) h3,
#monthly:not(.active) h3 {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

#annually:not(.active) .warning-line h3,
#monthly:not(.active) .warning-line h3 {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-size: 15.4px;
  line-height: 20px;
  text-align: center;
  bottom: 37px;
}

html[lang^="fr"] #annually:not(.active) .warning-line h3,
html[lang^="fr"] #monthly:not(.active) .warning-line h3 {
  font-size: 12px;
}

html[lang^="fr"] .active .warning-line h3  {
  font-size: 14px;
}

.active .warning-line h3 {
  bottom: 41px;
}

#annually:not(.active) .price,
#monthly:not(.active) .price {
  font-size: 22px;
  line-height: 15px;
  margin-bottom: 4px;
}

#annually:not(.active) .sale-regularity,
#monthly:not(.active) .sale-regularity {
  font-size: 12px;
}

#annually:not(.active) .sale-price,
#monthly:not(.active) .sale-price {
  font-size: 12px;
  line-height: 14px;
}

#annually:not(.active) .warning-line,
#monthly:not(.active) .warning-line {
  height: 20px;
  bottom: 37px;
  width: 104%;
  left: -2%;
}

.link-button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 6px;
}

.footer .link-button {
  color: #BDC0D0;
  text-align: right;
  text-decoration-line: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  font-family: 'Roboto', sans-serif;
}

#annually .active {
  /* margin-right: 38px; */
  position: relative;
  background-image: url("./Assets/shape-2.svg");
}

#monthly .active {
  margin-left: 39px !important;
  color: #DB0000;
}

#monthly:not(.active) {
  margin-left: 46px;
  background-size: contain;
  background-repeat: no-repeat;
}

#annually:not(.active) {
  background-size: contain;
  background-repeat: no-repeat;
  height: 162px;
  width: 131px;
  margin-top: 8px;
  opacity: 0.25;
  color: #FFFFFF;
  padding-top: 23px;
  text-align: center;
  position: relative;
  background-image: url("./Assets/shape-2.svg");
}

#annually:not(.active) .circle-sale {
  height: 30px;
  width: 30px;
  top: 1px;
  right: 1px;
}

#annually:not(.active) .circle-sale span {
  font-size: 10px;
  line-height: 12px;
  padding-left: 0;
}

html[lang^="fr"] .title {
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 24px;
}

html[lang^="fr"] .main .container {
  padding-top: 144px;
}

@media (min-width: 600px) {
  body {
    background-image: url("./Assets/background-full/4@3x.png");
    background-position: 0 -300px;
  }

  .header .container {
    padding-top: 12px;
  }

  button {
    cursor: pointer;
  }

  .title {
    font-size: 40px;
  }

  .selection-block {
    height: 200px;
    width: fit-content;
    margin: 0 auto;
  }

  .continue-button {
    height: 60px;
    margin-top: 12px;
  }

  #monthly:not(.active) {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-device-height: 667px), (max-device-height: 736px), (max-device-width: 320px) {
  body {
    background-position: 0 -40px;
  }

  .header .container {
    padding-top: 20px;
  }

  .main .container {
    padding-top: 130px;
  }

  html[lang^="fr"] .main .container {
    padding-top: 136px;
  }

  .title {
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 20px;
  }

  html[lang^="fr"] .title {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 24px;
  }

  html[lang^="ru"] .title {
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 36px;
  }

  .information {
    height: 120px;
  }

  .information__list-item {
    line-height: 24px;
  }

  .selection-block {
    height: 146px;
  }

  .active {
    height: 146px;
    width: 118px;
    padding: 18px 0 0;
  }

  #monthly .active {
    margin-left: 40px;
  }

  #monthly {
    margin-left: 66px;
  }

  .active > h3 {
    font-size: 17px;
    margin-bottom: 12px;
  }

  html[lang^="fr"] .active h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }

  html[lang^="fr"] #annually:not(.active) h3,
  html[lang^="fr"] #monthly:not(.active) h3 {
    margin-bottom: 4px;
  }

  html[lang^="fr"] .active, .active-sale {
    padding: 28px 0 14px;
  }
  
  html[lang^="fr"] #annually:not(.active),
  html[lang^="fr"] #monthly:not(.active) {
    padding: 24px 0 14px;
  }

  .active .sale-regularity {
    margin-top: 14px;
  }

  html[lang^="fr"] .active .strong {
    margin-top: 16px;
  }

  html[lang^="fr"] .active .sale-regularity {
    margin-top: 0;
  }

  html[lang^="fr"] #annually:not(.active) .sale-regularity,
  html[lang^="fr"] #monthly:not(.active) .sale-regularity {
    margin-top: 0;
  }

  #annually:not(.active) .sale-regularity,
  #monthly:not(.active) .sale-regularity {
    margin-top: 10px;
  }

  .active h2 {
    font-size: 20px;
  }

  .active .warning-line {
    height: 18px;
    bottom: 30px;
  }

  .active .warning-line h3 {
    font-size: 14px;
  }

  html[lang^="fr"] .active .warning-line h3 {
    font-size: 10px;
  }

  html[lang^="ru"] .active .warning-line h3 {
    font-size: 11px;
  }

  html[lang^="nl"] .active .warning-line h3 {
    font-size: 12px;
  }

  html[lang^="fr"] #monthly:not(.active) .warning-line h3,
  html[lang^="fr"] #annually:not(.active) .warning-line h3,
  html[lang^="ru"] #monthly:not(.active)  .warning-line h3,
  html[lang^="ru"] #annually:not(.active) .warning-line h3 {
    font-size: 10px;
  }

  .active .sale-price {
    bottom: 8px;
    font-size: 11px;
  }

  #annually:not(.active),
  #monthly:not(.active) {
    height: 132px;
    width: 108px;
    margin-top: 8px;
  }

  #monthly .active {
    margin-left: 74px !important;
  }
  
  #monthly:not(.active) {
    margin-left: 66px;
    margin-top: 8px;
    height: 132px;
    width: 107px;
    padding-top: 18px;
  }

  #monthly:not(.active) > h3 {
    font-size: 14px;
    margin-bottom: 12px;
  }

  #monthly:not(.active) > h3 {
    margin-bottom: 8px;
  }

  #annually:not(.active) {
    margin-right: 38px;
    margin-right: 0;
    height: 132px;
    width: 107px;
    margin-top: 8px;
    padding-top: 18px;
  }

  #annually:not(.active) > h3 {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .circle-sale {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    top: -1px;
    right: -1px;
  }

  .circle-sale span {
    font-size: 10px;
    padding-left: 1px;
  }

  #annually:not(.active) .circle-sale {
    height: 25px;
    width: 25px;
    padding-top: 20px;
    top: 0px;
    right: 0px;
  }

  #annually:not(.active) .circle-sale span {
    font-size: 8px;
    line-height: 10px;
    padding-left: 1px;
    padding-bottom: 18px;
  }

  #annually:not(.active) > h3 {
    margin-bottom: 8px;
  }

  #annually:not(.active) .price,  #monthly:not(.active) .price {
    padding-top: 0;
    font-size: 16px;
    margin-bottom: 0;
  }

  #annually:not(.active) > p, #monthly:not(.active) > p {
    font-size: 11px;
  }

  #annually:not(.active) .warning-line,
  #monthly:not(.active) .warning-line {
    bottom: 30px;
  }

  #annually:not(.active) .warning-line h3,
  #monthly:not(.active) .warning-line h3 {
    font-size: 12px;
  }

  #annually:not(.active) .sale-price,
  #monthly:not(.active) .sale-price {
    font-size: 10px;
    bottom: 8px;
  }

  .continue-button {
    margin: 0 auto 10px;
    font-size: 15px;
    height: 44px;
  }

  .footer .container {
    padding-top: 12px;
    padding-bottom: 36px;
  }
}


@media (max-device-height: 667px) and (max-device-width: 375px) {
  #monthly {
    margin-left: 18%;
  }
}

@media (max-device-height: 568px) {
  body {
    background-position: 0 -60px;
  }

  .header .container {
    padding-top: 12px;
  }

  .main .container {
    padding-top: 86px;
  }

  html[lang^="fr"] .main .container {
    padding-top: 94px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 16px;
  }

  html[lang^="fr"] .title {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 16px;
  }

  html[lang^="ru"] .title {
    font-size: 24px;
    padding-bottom: 16px;
  }

  .information {
    height: 100px;
  }

  .information__list {
    padding-bottom: 32px;
  }

  .selection-block {
    height: 146px;
  }

  html[lang^="ru"] .active .warning-line h3 {
    font-size: 11px;
  }

  html[lang^="ru"] #annually:not(.active) .warning-line h3,
  html[lang^="ru"] #monthly:not(.active) .warning-line h3  {
    font-size: 10px;
  }

  .continue-button {
    width: 240px;
  }

  .footer .container {
    padding-top: 8px;
    padding-bottom: 36px;
  }

  #monthly, #monthly:not(.active) {
    margin-left: 40px;
  }
}

@media (min-device-width: 414px) and (min-device-height: 736px) {
  html[lang^="ru"] .header .container {
    padding-top: 38px;
  }

  .header .container {
    padding-top: 45px;
  }

  .title {
    font-size: 36px;
    line-height: 42px;
  }

  html[lang^="ru"] .title {
    font-size: 30px;
    line-height: 36px;
  }

  .continue-button {
    height: 54px;
  }

  .selection-block {
    height: 162px;
  }

  .main .container {
    padding-top: 140px;
  }

  #monthly {
    margin-left: 82px;
  }

  #monthly:not(.active) {
    margin-left: 86px;
  }

  #annually .active {
    height: 162px;
    width: 130px;
    padding-top: 23px;
  }

  #annually .active .circle-sale {
    top: -1px;
    right: -1px;
    height: 32px;
    width: 32px;
  }

  .continue-button {
    width: 300px;
  }
}

@media (min-device-width: 390px) and (min-device-height: 844px) {
  .main .container {
    padding-top: 153;
  }

  .title {
    font-size: 38px;
    line-height: 36px;
    padding-bottom: 44px;
  }

  html[lang^="ru"] .title {
    font-size: 30px;
  }

  html[lang^="es"] .title, html[lang^="nl"] .title {
    font-size: 34px;
  }

  .selection-block {
    height: 190px;
  }

  .information__list-item {
    font-size: 20px;
  }

  #monthly .active, #annually .active {
    height: 190px;
    width: 154px;
  }

  #monthly:not(.active), #annyally:not(.active) {
    height: 174px;
    width: 141px;
    margin-top: 16px;
    height: 162px;
    width: 131px;
    margin-top: 8px;
  }

  #monthly:not(.active) > h3,
  #annyally:not(.active) > h3 {
    font-size: 19px;
  }

  #monthly:not(.active) .warning-line,
  #annyally:not(.active) .warning-line {
    height: 24px;
    padding-top: 1px;
  }

  html[lang^="fr"] .active .sale-regularity {
    margin-top: 8px;
  }

  .active .warning-line {
    height: 26px;
    padding-top: 3px;
  }

  .continue-button {
    width: 300px;
    height: 60px;
  }

  a > button:not(.continue-button), .footer .link-button {
    font-size: 14px;
  }

  .warning-line {
    bottom: 44px;
  }

  .continue-warning {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

@media (min-device-width: 375px) and (min-device-height: 812px) {
  html[lang^="ru"] .main .container {
    padding-top: 172px;
  }

  html[lang^="ru"] .title {
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 32px;
  }

  html[lang^="ru"] .active .warning-line h3 {
    font-size: 14px;
  }

  html[lang^="nl"] .active .warning-line h3 {
    font-size: 16px;
  }

  html[lang^="nl"] #annyally:not(.active) .warning-line h3,
  html[lang^="nl"] #monthly:not(.active) .warning-line h3 {
    font-size: 14px;
  }

  html[lang^="ru"] #annyally:not(.active) .warning-line h3,
  html[lang^="ru"] #monthly:not(.active) .warning-line h3 {
    font-size: 12px;
  }
}